<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-profile">
      <ion-icon name="md-hand"></ion-icon>
      <ion-label>{{ 'myProfile' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nearby-users">
      <ion-icon name="md-heart"></ion-icon>
      <ion-label>{{ 'nearbyUsers' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon name="ios-chatbubbles"></ion-icon>
      <ion-label>{{ 'chats' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
