<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'nearbyUsers' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm wrap *ngFor="let profile of profiles">
        <ion-card class="ion-activatable" routerLink="/profile">
          <ion-ripple-effect></ion-ripple-effect>
          <img [src]="profile.photos[0].url || null" /> <!-- TODO: Add default photo in case of no pictures, but 1 picture should be mandatory -->
        
          <ion-card-header><span class="bold">{{ profile.name }}</span>, {{ profile.birthday | age }}</ion-card-header>
          <ion-card-content>{{ profile.shortDescription }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
