<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="profile__slides">
    <ion-slides class="slides">
      <ion-slide *ngFor="let photo of profile.photos; trackBy: trackByPhotoId">
        <div class="image" [ngStyle]="{'background-image': 'url('+photo.url+')'}">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="profile__info">

    <div class="section profile__info__basic">
      <span class="name">{{ profile.name }}, </span>
      <span class="age">{{ profile.birthday | age }}</span>
    </div>

    <div class="section profile__info__description">
      <div class="title">{{ 'description' | translate }}</div>
      <div class="description">{{ profile.description }}</div>
    </div>
  </div>

</ion-content>