.profile {
  &__slides {
    height: 60vh !important;
    width: auto;

    background-color: #fffbfd;

    .slides {
      width: 100%;
      height: 100%;

      .image {
        width: 100% !important;
        height: 100% !important;

        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 50% 50%;
        background-size: cover;
      }
    }
  }

  &__info {
    padding: 16px;

    &__name {
      font-size: 20px;
      font-weight: bold;
    }

    &__age {
      font-size: 18px;
    }
  }
}
