// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active { 
	outline:none;
	outline: 0;
}

.bold {
  font-weight: bold;
}

.swiper-pagination-bullet {
  opacity: 0.5 !important;
  background: white !important;

  &.swiper-pagination-bullet-active {
    opacity: 1 !important;
  }
}

ion-item {
  --ripple-color: #ccc;
}
