<ion-header class="header">
  <ion-toolbar>
    <ion-title>
      {{ 'myProfile' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <span class="field-title">{{ 'shortDescription' | translate }}</span>
    <span class="field-description">{{ 'shortDescriptionDescription' | translate }}</span>
    <ion-item>
      <ion-input [(ngModel)]="profile.shortDescription" [placeholder]="'shortDescriptionPlaceholder' | translate"></ion-input>
    </ion-item>
  </div>

  <div class="section">
    <span class="field-title">{{ 'fullDescription' | translate }}</span>
    <span class="field-description">{{ 'fullDescriptionDescription' | translate }}</span>
    <ion-item>
      <ion-textarea rows="5" [(ngModel)]="profile.description" [placeholder]="'fullDescriptionPlaceholder' | translate"></ion-textarea>
    </ion-item>
  </div>

  <div class="section">
    <span class="field-title">{{ 'yourPhotos' | translate }}</span>
    <span class="field-description">{{ 'yourPhotosDescription' | translate }}</span>
    <ion-reorder-group (ionItemReorder)="onReorderPhoto($event)" disabled="false">
      <ion-item button *ngFor="let photo of profile.photos" (click)="openPhotoPreview()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-avatar slot="start">
          <img [src]="photo.url">
        </ion-avatar>
        <ion-label>{{ 'photo' | translate }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
    
    <ion-item button (click)="openPhotoPicker()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="ion-text-center">{{ 'addPhoto' | translate }}</ion-label>
      <ion-icon name="add" slot="end"></ion-icon>
    </ion-item>
  </div>

  <div class="last section">
    <span class="field-title">{{ 'birthdate' | translate }}</span>
    <span class="field-description">{{ 'birthdateDescription' | translate }}</span>
    <ion-item>
      <ion-datetime [(ngModel)]="profile.birthday" [displayFormat]="localDateFormat" [placeholder]="'birthdatePlaceholder' | translate"></ion-datetime>
    </ion-item>
  </div>
</ion-content>